body{
  background-color:beige;
}
section{
  width: 45rem;
  height:10rem;
}
img{
  float: left;
  width: 9rem; 
  height: 9rem;
  border-radius: 6rem ;
}
section p{
  margin-left: 10rem;
}
section h1{
  margin-left: 10rem;
}
table{
  border-collapse: separate;     
  border-spacing: 10px;
}
#table1{
  background-color: azure;
}
h2{
  display: flex;
  align-items: center ;
  flex-direction: column;
}